<div class="container-fluid">
	<h2 style="margin-bottom: 40px;">Cenovnik</h2>
	<div class="row">
		<div class="col-sm-8 cenovnik">
			<table class="table table-hover">
			    <thead>
			      <tr>
			        <th>Automobili</th>
			        <th class="text-right">Cena</th>
			      </tr>
			    </thead>
			    <tbody>
			      <tr>
			        <td>Mala vozila (Yugo, Lupo, C1...)</td>
			        <td class="text-right">1850 din.</td>
			      </tr>
			      <tr>
			        <td>Srednja vozila (Golf, Peugeot 206, 307...)</td>
			        <td class="text-right">2300 din.</td>
			      </tr>
			      <tr>
			        <td>Limuzine (Peugeot 406, Audi A4...)</td>
			        <td class="text-right">3500 din (doplata za karavane +400 din)</td>
			      </tr>
			      <tr>
			        <td>Mini van, džip, SUV (do 7 sedišta)</td>
			        <td class="text-right">4300 din.</td>
			      </tr>
			      <tr>
			        <td>Kombi vozila</td>
			        <td class="text-right">5500 din.</td>
			      </tr>
			      <tr>
			        <td>Kamionske kabine</td>
			        <td class="text-right">3700 din.</td>
			      </tr>
			      <tr>
			        <td>Autobusi</td>
			        <td class="text-right">150 din.(po sedištu)</td>
			      </tr>
			    </tbody>
			</table>
		</div>
		<div class="col-sm-4">
			<img src="img/car_cenovnik.jpg" class="img-responsive" style="width:100%" alt="automobili pranje cenovnik">
		</div>
	</div>
	<div class="row">
		<div class="col-sm-4">
			<img src="img/sofa_cenovnik.jpg" class="img-responsive" style="width:100%" alt="namestaj pranje cenovnik">
		</div>
		<div class="col-sm-8 cenovnik">
			<table class="table table-hover">
			    <thead>
			      <tr>
			        <th>Nameštaj</th>
			        <th class="text-right">Cena</th>
			      </tr>
			    </thead>
			    <tbody>
			      <tr>
			        <td>Trosed</td>
			        <td class="text-right">1000 din.</td>
			      </tr>
			      <tr>
			        <td>Dvosed</td>
			        <td class="text-right">800 din.</td>
			      </tr>
			      <tr>
			        <td>Ugaona garnitura</td>
			        <td class="text-right">(po sedalnom mestu 300 din) od 1200din.</td>
			      </tr>
			      <tr>
			        <td>Fotelja</td>
			        <td class="text-right">450 din.</td>
			      </tr>
			      <tr>
			        <td>Stolice</td>
			        <td class="text-right">kom. 150 din</td>
			      </tr>
			      <tr>
			        <td>Tepisi, staze</td>
			        <td class="text-right">1m<sup>2</sup> – 100 din.</td>
			      </tr>
			    </tbody>
			</table>
		</div>	
	</div>
	<div class="row" style="margin-top: 40px;">
		<div class="col-sm-8 cenovnik"  style="margin-top: 30px;">
			<table class="table table-hover">
			    <thead>
			      <tr>
			        <th>Bračni kreveti (Dušeci)</th>
			        <th class="text-right">Cena</th>
			      </tr>
			    </thead>
			    <tbody>
			      <tr>
			        <td>Bračni dušek</td>
			        <td class="text-right">1000 din.</td>
			      </tr>
			      <tr>
			        <td>- obostrano </td>
			        <td class="text-right">1300 din.</td>
			      </tr>
			      <tr>
			        <td>Singl dušek</td>
			        <td class="text-right">650 din.</td>
			      </tr>
			      <tr>
			        <td>- obostrano</td>
			        <td class="text-right">950 din.</td>
			      </tr>
			    </tbody>
			</table>
		</div>
		<div class="col-sm-4">
			<img src="img/bed_cenovnik.jpg" class="img-responsive" style="width:100%" alt="kreveti duseci pranje cenovnik">
		</div>
	</div>
</div>