<div class="container-fluid">
	<h2 style="margin-bottom: 40px;">Cenovnik</h2>
	<div class="row">
		<div class="col-sm-8 cenovnik">
			<table class="table table-hover">
			    <thead>
			      <tr>
			        <th>Automobili</th>
			        <th class="text-right">Cena</th>
			      </tr>
			    </thead>
			    <tbody>
			    	<tr ng-repeat="automobil in automobili">
			    		<td>{{automobil.naziv}}</td>
			    		<td class="text-right">{{automobil.cena}} din. 
			    		<span ng-if="automobil.usluga_id == 3">(doplata za karavane +400 din)</span>
			    		<span ng-if="automobil.usluga_id == 7">(po sedištu)</span>
			    		</td>
			    	</tr>
			    </tbody>
			</table>
		</div>
		<div class="col-sm-4">
			<img src="img/car_cenovnik.jpg" class="img-responsive" style="width:100%" alt="automobili pranje cenovnik">
		</div>
	</div>
	<div class="row">
		<div class="col-sm-4">
			<img src="img/sofa_cenovnik.jpg" class="img-responsive" style="width:100%" alt="namestaj pranje cenovnik">
		</div>
		<div class="col-sm-8 cenovnik">
			<table class="table table-hover">
			    <thead>
			      <tr>
			        <th>Nameštaj</th>
			        <th class="text-right">Cena</th>
			      </tr>
			    </thead>
			    <tbody>
			    	<tr ng-repeat="komad in namestaj">
			    		<td>{{komad.naziv}}</td>
			    		<td class="text-right">
			    		<span ng-if="komad.usluga_id == 10">(po sedalnom mestu 300 din.) od </span>
			    		<span ng-if="komad.usluga_id == 13">kom. </span>
			    		<span ng-if="komad.usluga_id == 14">1m<sup>2</sup> - </span>
			    		{{komad.cena}} din. 
			    		</td>
			    	</tr>
			    </tbody>
			</table>
		</div>	
	</div>
	<div class="row" style="margin-top: 40px;">
		<div class="col-sm-8 cenovnik"  style="margin-top: 30px;">
			<table class="table table-hover">
			    <thead>
			      <tr>
			        <th>Bračni kreveti (Dušeci)</th>
			        <th class="text-right">Cena</th>
			      </tr>
			    </thead>
			    <tbody>
			    	<tr ng-repeat="dusek in duseci">
			    		<td>{{dusek.naziv}}</td>
			    		<td class="text-right">{{dusek.cena}} din.</td>
			    	</tr>
			    </tbody>
			</table>
		</div>
		<div class="col-sm-4">
			<img src="img/bed_cenovnik.jpg" class="img-responsive" style="width:100%" alt="kreveti duseci pranje cenovnik">
		</div>
	</div>
</div>