<div class="container">
<div class="row">
  <div id="contactInfo" class="col-sm-6">
    <h2>Kontaktirajte nas</h2>
      <p>Zakazite pozivom svakim radnim danom i subotom od 8h - 20h!</p>
      <p><span class="glyphicon glyphicon-map-marker"></span> Beograd, Srbija</p>
      <p><span class="glyphicon glyphicon-phone"></span> +381 60 380 61 72</p>
      <p><span class="glyphicon glyphicon-phone"></span> +381 64 021 72 42</p>
      <p>Sva pitanja, utiske, pohvale ili predloge mozete nam poslati putem kontakt forme.</p>
      <p>Ukoliko nemate sopstvenu garažu, usluge pranja automobila obavljamo na lokaciji Vojvode Stepe 110, <b>samo nakon zakazivanja!!!</b>.</p>
  </div>
  <div class="col-sm-6">
<div id="contactForm">
  <form role="form" action="mailer.php" method="post">
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" name='email' class="form-control" id="email" placeholder="Vas email" required>
    </div>
    <div class="form-group">
      <label for="ime">Vase Ime:</label>
      <input type="text" name='ime' class="form-control" id="ime" placeholder="Vase Ime" required>
    </div>
    <div class="form-group">
      <label for="poruka">Poruka:</label>
      <textarea name="poruka" class="form-control" rows="5" id="poruka"></textarea>
    </div>
    <input type="submit" name='send' class="btn btn-default" value="Send" >
  </form>
</div>
</div>
  </div>
</div>

<div id="mapContainer" class="container-fluid slideanim">
  <div id="googleMap" style="height:400px;width:100%;">
  <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d841.9807028747375!2d20.473349490244388!3d44.77929221797968!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2srs!4v1486907207493" width="100%" height="400" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>
</div>
