<div class="container">
	<div class="row">
		<a href="" data-toggle="modal" data-target="#gallery_1">
		<div class="col-sm-3 gallery-item gallery-slide">
			<div class="col-sm-6 gallery-before">
				<img src="img/gallery/1_before_c.jpg" class="img-responsive gallery-thumb">
			</div>
			<div class="col-sm-6 gallery-after">
				<img src="img/gallery/1_after_c.jpg" class="img-responsive gallery-thumb">
			</div>
		</div>
		</a>
		<div class="col-sm-3 gallery-item gallery-slide">
			<p class="gallery-info">Uz pomoć profesionalnih <span class="hl"><strong>Karcher</strong></span> mašina, izvalčimo i najdublje fleke iz sofa, fotelja, kreveta, tepiha, sedišta i svih vrste tapacirunga.</p>
		</div>
		<a href="" data-toggle="modal" data-target="#gallery_2">
		<div class="col-sm-6 gallery-item gallery-slide">
			<div class="col-sm-6 gallery-before">
				<img src="img/gallery/2_before_c.jpg" class="img-responsive gallery-thumb">
			</div>
			<div class="col-sm-6 gallery-after">
				<img src="img/gallery/2_after_c.jpg" class="img-responsive gallery-thumb">
			</div>
		</div>
		</a>
	</div>
	<div class="row">
		<a href="" data-toggle="modal" data-target="#gallery_3">
		<div class="col-sm-6 gallery-item gallery-slide">
			<div class="col-sm-6 gallery-before">
				<img src="img/gallery/3_before_c.jpg" class="img-responsive gallery-thumb">
			</div>
			<div class="col-sm-6 gallery-after">
				<img src="img/gallery/3_after_c.jpg" class="img-responsive gallery-thumb">
			</div>
		</div>
		</a>
		<div class="col-sm-3 gallery-item gallery-slide">
			<p class="gallery-info">
			<span class="hl"><strong>Zadovoljni klijenti</strong></span> su naš prvi prioritet!</p>
			<p class="gallery-info"><span class="hl"><strong>Temeljnim i detaljnim pristupom</strong></span> svakom pranju, vraćamo vašem nameštaju i automobilima <span class="hl"><strong>stari sjaj.</strong></span></p>
		</div>
		<a href="" data-toggle="modal" data-target="#gallery_4">
		<div class="col-sm-3 gallery-item gallery-slide">
			<div class="col-sm-6 gallery-before">
				<img src="img/gallery/4_before_c.jpg" class="img-responsive gallery-thumb">
			</div>
			<div class="col-sm-6 gallery-after">
				<img src="img/gallery/4_after_c.jpg" class="img-responsive gallery-thumb">
			</div>
		</div>
		</a>
	</div>
</div>
<div class="container">
	<div class="row text-center">
		<p class="gallery-heading gallery-slide">Pogledajte još neka od naših brojnih iskustava i zakažite Vaše pranje!</p>
	</div>
	<div class="row">
		<a href="" data-toggle="modal" data-target="#gallery_5">
		<div class="col-sm-3 gallery-item gallery-slide">
			<div class="col-sm-6 gallery-before">
				<img src="img/gallery/5_before_c.jpg" class="img-responsive gallery-thumb">
			</div>
			<div class="col-sm-6 gallery-after">
				<img src="img/gallery/5_after_c.jpg" class="img-responsive gallery-thumb">
			</div>
		</div>
		</a>
		<a href="" data-toggle="modal" data-target="#gallery_6">
		<div class="col-sm-3 gallery-item gallery-slide">
			<div class="col-sm-6 gallery-before">
				<img src="img/gallery/6_before_c.jpg" class="img-responsive gallery-thumb">
			</div>
			<div class="col-sm-6 gallery-after">
				<img src="img/gallery/6_after_c.jpg" class="img-responsive gallery-thumb">
			</div>
		</div>
		</a>
		<a href="" data-toggle="modal" data-target="#gallery_7">
		<div class="col-sm-3 gallery-item gallery-slide">
			<div class="col-sm-6 gallery-before">
				<img src="img/gallery/7_before_c.jpg" class="img-responsive gallery-thumb">
			</div>
			<div class="col-sm-6 gallery-after">
				<img src="img/gallery/7_after_c.jpg" class="img-responsive gallery-thumb">
			</div>
		</div>
		</a>
		<a href="" data-toggle="modal" data-target="#gallery_8">
		<div class="col-sm-3 gallery-item gallery-slide">
			<div class="col-sm-6 gallery-before">
				<img src="img/gallery/8_before_c.jpg" class="img-responsive gallery-thumb">
			</div>
			<div class="col-sm-6 gallery-after">
				<img src="img/gallery/8_after_c.jpg" class="img-responsive gallery-thumb">
			</div>
		</div>
		</a>
	</div>
	<div class="row">
		<a href="" data-toggle="modal" data-target="#gallery_9">
		<div class="col-sm-3 gallery-item gallery-slide">
			<div class="col-sm-6 gallery-before">
				<img src="img/gallery/9_before_c.jpg" class="img-responsive gallery-thumb">
			</div>
			<div class="col-sm-6 gallery-after">
				<img src="img/gallery/9_after_c.jpg" class="img-responsive gallery-thumb">
			</div>
		</div>
		</a>
		<a href="" data-toggle="modal" data-target="#gallery_10">
		<div class="col-sm-3 gallery-item gallery-slide">
			<div class="col-sm-6 gallery-before">
				<img src="img/gallery/10_before_c.jpg" class="img-responsive gallery-thumb">
			</div>
			<div class="col-sm-6 gallery-after">
				<img src="img/gallery/10_after_c.jpg" class="img-responsive gallery-thumb">
			</div>
		</div>
		</a>
		<a href="" data-toggle="modal" data-target="#gallery_11">
		<div class="col-sm-3 gallery-item gallery-slide">
			<div class="col-sm-6 gallery-before">
				<img src="img/gallery/11_before_c.jpg" class="img-responsive gallery-thumb">
			</div>
			<div class="col-sm-6 gallery-after">
				<img src="img/gallery/11_after_c.jpg" class="img-responsive gallery-thumb">
			</div>
		</div>
		</a>
		<a href="" data-toggle="modal" data-target="#gallery_12">
		<div class="col-sm-3 gallery-item gallery-slide">
			<div class="col-sm-6 gallery-before">
				<img src="img/gallery/12_before_c.jpg" class="img-responsive gallery-thumb">
			</div>
			<div class="col-sm-6 gallery-after">
				<img src="img/gallery/12_after_c.jpg" class="img-responsive gallery-thumb">
			</div>
		</div>
		</a>
	</div>
	<div class="row">
		<a href="" data-toggle="modal" data-target="#gallery_13">
		<div class="col-sm-3 gallery-item gallery-slide">
			<div class="col-sm-6 gallery-before">
				<img src="img/gallery/13_before_c.jpg" class="img-responsive gallery-thumb">
			</div>
			<div class="col-sm-6 gallery-after">
				<img src="img/gallery/13_after_c.jpg" class="img-responsive gallery-thumb">
			</div>
		</div>
		</a>
		<a href="" data-toggle="modal" data-target="#gallery_14">
		<div class="col-sm-3 gallery-item gallery-slide">
			<div class="col-sm-6 gallery-before">
				<img src="img/gallery/14_before_c.jpg" class="img-responsive gallery-thumb">
			</div>
			<div class="col-sm-6 gallery-after">
				<img src="img/gallery/14_after_c.jpg" class="img-responsive gallery-thumb">
			</div>
		</div>
		</a>
		<a href="" data-toggle="modal" data-target="#gallery_15">
		<div class="col-sm-3 gallery-item gallery-slide">
			<div class="col-sm-6 gallery-before">
				<img src="img/gallery/15_before_c.jpg" class="img-responsive gallery-thumb">
			</div>
			<div class="col-sm-6 gallery-after">
				<img src="img/gallery/15_after_c.jpg" class="img-responsive gallery-thumb">
			</div>
		</div>
		</a>
		<a href="" data-toggle="modal" data-target="#gallery_16">
		<div class="col-sm-3 gallery-item gallery-slide">
			<div class="col-sm-6 gallery-before">
				<img src="img/gallery/16_before_c.jpg" class="img-responsive gallery-thumb">
			</div>
			<div class="col-sm-6 gallery-after">
				<img src="img/gallery/16_after_c.jpg" class="img-responsive gallery-thumb">
			</div>
		</div>
		</a>
	</div>
	<div class="row">
		<a href="" data-toggle="modal" data-target="#gallery_17">
		<div class="col-sm-3 gallery-item gallery-slide">
			<div class="col-sm-6 gallery-before">
				<img src="img/gallery/17_before_c.jpg" class="img-responsive gallery-thumb">
			</div>
			<div class="col-sm-6 gallery-after">
				<img src="img/gallery/17_after_c.jpg" class="img-responsive gallery-thumb">
			</div>
		</div>
		</a>
		<a href="" data-toggle="modal" data-target="#gallery_18">
		<div class="col-sm-3 gallery-item gallery-slide">
			<div class="col-sm-6 gallery-before">
				<img src="img/gallery/18_before_c.jpg" class="img-responsive gallery-thumb">
			</div>
			<div class="col-sm-6 gallery-after">
				<img src="img/gallery/18_after_c.jpg" class="img-responsive gallery-thumb">
			</div>
		</div>
		</a>
		<a href="" data-toggle="modal" data-target="#gallery_19">
		<div class="col-sm-3 gallery-item gallery-slide">
			<div class="col-sm-6 gallery-before">
				<img src="img/gallery/19_before_c.jpg" class="img-responsive gallery-thumb">
			</div>
			<div class="col-sm-6 gallery-after">
				<img src="img/gallery/19_after_c.jpg" class="img-responsive gallery-thumb">
			</div>
		</div>
		</a>
		<a href="" data-toggle="modal" data-target="#gallery_20">
		<div class="col-sm-3 gallery-item gallery-slide">
			<div class="col-sm-6 gallery-before">
				<img src="img/gallery/20_before_c.jpg" class="img-responsive gallery-thumb">
			</div>
			<div class="col-sm-6 gallery-after">
				<img src="img/gallery/20_after_c.jpg" class="img-responsive gallery-thumb">
			</div>
		</div>
		</a>
	</div>
</div>
<!-- 
== 
==
==
== Modals
==
==
==
-->
<div id="gallery_1" class="modal fade" role="dialog">
	<div class="modal-dialog modal-lg modal-gallery-v">
	<!-- Modal content-->
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">&times;</button>
		<h4 class="modal-title">Unutrašnjost automobila</h4>
		</div>
		<div class="modal-body">
		<div class="row">
			<div class="col-sm-6 gallery-before">
				<h4>Pre</h4>
				<img src="img/gallery/1_before.jpg" class="img-responsive">
			</div>
			<div class="col-sm-6 gallery-after">
				<h4>Posle</h4>
				<img src="img/gallery/1_after.jpg" class="img-responsive">
			</div>
		</div>		
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal">Zatvori</button>
		</div>
	</div>
	</div>
</div>
<div id="gallery_2" class="modal fade" role="dialog">
	<div class="modal-dialog modal-lg modal-gallery-v">
	<!-- Modal content-->
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">&times;</button>
		<h4 class="modal-title">Unutrašnjost automobila</h4>
		</div>
		<div class="modal-body">
		<div class="row">
			<div class="col-sm-6 gallery-before">
				<h4>Pre</h4>
				<img src="img/gallery/2_before.jpg" class="img-responsive">
			</div>
			<div class="col-sm-6 gallery-after">
				<h4>Posle</h4>
				<img src="img/gallery/2_after.jpg" class="img-responsive">
			</div>
		</div>		
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal">Zatvori</button>
		</div>
	</div>
	</div>
</div>
<div id="gallery_3" class="modal fade" role="dialog">
	<div class="modal-dialog modal-lg modal-gallery-h">
	<!-- Modal content-->
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">&times;</button>
		<h4 class="modal-title">Dubinsko pranje nameštaja</h4>
		</div>
		<div class="modal-body">
		<div class="row">
			<div class="col-sm-6 gallery-before">
				<h4>Pre</h4>
				<img src="img/gallery/3_before.jpg" class="img-responsive">
			</div>
			<div class="col-sm-6 gallery-after">
				<h4>Posle</h4>
				<img src="img/gallery/3_after.jpg" class="img-responsive">
			</div>
		</div>		
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal">Zatvori</button>
		</div>
	</div>
	</div>
</div>
<div id="gallery_4" class="modal fade" role="dialog">
	<div class="modal-dialog modal-lg modal-gallery-h">
	<!-- Modal content-->
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">&times;</button>
		<h4 class="modal-title">Unutrašnjost automobila</h4>
		</div>
		<div class="modal-body">
		<div class="row">
			<div class="col-sm-6 gallery-before">
				<h4>Pre</h4>
				<img src="img/gallery/4_before.jpg" class="img-responsive">
			</div>
			<div class="col-sm-6 gallery-after">
				<h4>Posle</h4>
				<img src="img/gallery/4_after.jpg" class="img-responsive">
			</div>
		</div>		
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal">Zatvori</button>
		</div>
	</div>
	</div>
</div>
<div id="gallery_5" class="modal fade" role="dialog">
	<div class="modal-dialog modal-lg modal-gallery-v">
	<!-- Modal content-->
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">&times;</button>
		<h4 class="modal-title">Dubinsko pranje nameštaja</h4>
		</div>
		<div class="modal-body">
		<div class="row">
			<div class="col-sm-6 gallery-before">
				<h4>Pre</h4>
				<img src="img/gallery/5_before.jpg" class="img-responsive">
			</div>
			<div class="col-sm-6 gallery-after">
				<h4>Posle</h4>
				<img src="img/gallery/5_after.jpg" class="img-responsive">
			</div>
		</div>		
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal">Zatvori</button>
		</div>
	</div>
	</div>
</div>
<div id="gallery_6" class="modal fade" role="dialog">
	<div class="modal-dialog modal-lg modal-gallery-v">
	<!-- Modal content-->
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">&times;</button>
		<h4 class="modal-title">Unutrašnjost automobila</h4>
		</div>
		<div class="modal-body">
		<div class="row">
			<div class="col-sm-6 gallery-before">
				<h4>Pre</h4>
				<img src="img/gallery/6_before.jpg" class="img-responsive">
			</div>
			<div class="col-sm-6 gallery-after">
				<h4>Posle</h4>
				<img src="img/gallery/6_after.jpg" class="img-responsive">
			</div>
		</div>		
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal">Zatvori</button>
		</div>
	</div>
	</div>
</div>
<div id="gallery_7" class="modal fade" role="dialog">
	<div class="modal-dialog modal-lg modal-gallery-v">
	<!-- Modal content-->
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">&times;</button>
		<h4 class="modal-title">Dubinsko pranje nameštaja</h4>
		</div>
		<div class="modal-body">
		<div class="row">
			<div class="col-sm-6 gallery-before">
				<h4>Pre</h4>
				<img src="img/gallery/7_before.jpg" class="img-responsive">
			</div>
			<div class="col-sm-6 gallery-after">
				<h4>Posle</h4>
				<img src="img/gallery/7_after.jpg" class="img-responsive">
			</div>
		</div>		
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal">Zatvori</button>
		</div>
	</div>
	</div>
</div>
<div id="gallery_8" class="modal fade" role="dialog">
	<div class="modal-dialog modal-lg modal-gallery-v">
	<!-- Modal content-->
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">&times;</button>
		<h4 class="modal-title">Dubinsko pranje tepiha</h4>
		</div>
		<div class="modal-body">
		<div class="row">
			<div class="col-sm-6 gallery-before">
				<h4>Pre</h4>
				<img src="img/gallery/8_before.jpg" class="img-responsive">
			</div>
			<div class="col-sm-6 gallery-after">
				<h4>Posle</h4>
				<img src="img/gallery/8_after.jpg" class="img-responsive">
			</div>
		</div>		
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal">Zatvori</button>
		</div>
	</div>
	</div>
</div>
<div id="gallery_9" class="modal fade" role="dialog">
	<div class="modal-dialog modal-lg modal-gallery-v">
	<!-- Modal content-->
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">&times;</button>
		<h4 class="modal-title">Dubinsko pranje nameštaja</h4>
		</div>
		<div class="modal-body">
		<div class="row">
			<div class="col-sm-6 gallery-before">
				<h4>Pre</h4>
				<img src="img/gallery/9_before.jpg" class="img-responsive">
			</div>
			<div class="col-sm-6 gallery-after">
				<h4>Posle</h4>
				<img src="img/gallery/9_after.jpg" class="img-responsive">
			</div>
		</div>		
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal">Zatvori</button>
		</div>
	</div>
	</div>
</div>
<div id="gallery_10" class="modal fade" role="dialog">
	<div class="modal-dialog modal-lg modal-gallery-v">
	<!-- Modal content-->
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">&times;</button>
		<h4 class="modal-title">Unutrašnjost automobila</h4>
		</div>
		<div class="modal-body">
		<div class="row">
			<div class="col-sm-6 gallery-before">
				<h4>Pre</h4>
				<img src="img/gallery/10_before.jpg" class="img-responsive">
			</div>
			<div class="col-sm-6 gallery-after">
				<h4>Posle</h4>
				<img src="img/gallery/10_after.jpg" class="img-responsive">
			</div>
		</div>		
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal">Zatvori</button>
		</div>
	</div>
	</div>
</div>
<div id="gallery_11" class="modal fade" role="dialog">
	<div class="modal-dialog modal-lg modal-gallery-v">
	<!-- Modal content-->
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">&times;</button>
		<h4 class="modal-title">Dubinsko pranje nameštaja</h4>
		</div>
		<div class="modal-body">
		<div class="row">
			<div class="col-sm-6 gallery-before">
				<h4>Pre</h4>
				<img src="img/gallery/11_before.jpg" class="img-responsive">
			</div>
			<div class="col-sm-6 gallery-after">
				<h4>Posle</h4>
				<img src="img/gallery/11_after.jpg" class="img-responsive">
			</div>
		</div>		
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal">Zatvori</button>
		</div>
	</div>
	</div>
</div>
<div id="gallery_12" class="modal fade" role="dialog">
	<div class="modal-dialog modal-lg modal-gallery-v">
	<!-- Modal content-->
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">&times;</button>
		<h4 class="modal-title">Dubinsko pranje nameštaja</h4>
		</div>
		<div class="modal-body">
		<div class="row">
			<div class="col-sm-6 gallery-before">
				<h4>Pre</h4>
				<img src="img/gallery/12_before.jpg" class="img-responsive">
			</div>
			<div class="col-sm-6 gallery-after">
				<h4>Posle</h4>
				<img src="img/gallery/12_after.jpg" class="img-responsive">
			</div>
		</div>		
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal">Zatvori</button>
		</div>
	</div>
	</div>
</div>
<div id="gallery_5" class="modal fade" role="dialog">
	<div class="modal-dialog modal-lg modal-gallery-v">
	<!-- Modal content-->
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">&times;</button>
		<h4 class="modal-title">Dubinsko pranje nameštaja</h4>
		</div>
		<div class="modal-body">
		<div class="row">
			<div class="col-sm-6 gallery-before">
				<h4>Pre</h4>
				<img src="img/gallery/5_before.jpg" class="img-responsive">
			</div>
			<div class="col-sm-6 gallery-after">
				<h4>Posle</h4>
				<img src="img/gallery/5_after.jpg" class="img-responsive">
			</div>
		</div>		
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal">Zatvori</button>
		</div>
	</div>
	</div>
</div>
<div id="gallery_6" class="modal fade" role="dialog">
	<div class="modal-dialog modal-lg modal-gallery-v">
	<!-- Modal content-->
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">&times;</button>
		<h4 class="modal-title">Unutrašnjost automobila</h4>
		</div>
		<div class="modal-body">
		<div class="row">
			<div class="col-sm-6 gallery-before">
				<h4>Pre</h4>
				<img src="img/gallery/6_before.jpg" class="img-responsive">
			</div>
			<div class="col-sm-6 gallery-after">
				<h4>Posle</h4>
				<img src="img/gallery/6_after.jpg" class="img-responsive">
			</div>
		</div>		
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal">Zatvori</button>
		</div>
	</div>
	</div>
</div>
<div id="gallery_7" class="modal fade" role="dialog">
	<div class="modal-dialog modal-lg modal-gallery-v">
	<!-- Modal content-->
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">&times;</button>
		<h4 class="modal-title">Dubinsko pranje nameštaja</h4>
		</div>
		<div class="modal-body">
		<div class="row">
			<div class="col-sm-6 gallery-before">
				<h4>Pre</h4>
				<img src="img/gallery/7_before.jpg" class="img-responsive">
			</div>
			<div class="col-sm-6 gallery-after">
				<h4>Posle</h4>
				<img src="img/gallery/7_after.jpg" class="img-responsive">
			</div>
		</div>		
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal">Zatvori</button>
		</div>
	</div>
	</div>
</div>
<div id="gallery_8" class="modal fade" role="dialog">
	<div class="modal-dialog modal-lg modal-gallery-v">
	<!-- Modal content-->
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">&times;</button>
		<h4 class="modal-title">Dubinsko pranje tepiha</h4>
		</div>
		<div class="modal-body">
		<div class="row">
			<div class="col-sm-6 gallery-before">
				<h4>Pre</h4>
				<img src="img/gallery/8_before.jpg" class="img-responsive">
			</div>
			<div class="col-sm-6 gallery-after">
				<h4>Posle</h4>
				<img src="img/gallery/8_after.jpg" class="img-responsive">
			</div>
		</div>		
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal">Zatvori</button>
		</div>
	</div>
	</div>
</div>
<div id="gallery_9" class="modal fade" role="dialog">
	<div class="modal-dialog modal-lg modal-gallery-v">
	<!-- Modal content-->
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">&times;</button>
		<h4 class="modal-title">Dubinsko pranje nameštaja</h4>
		</div>
		<div class="modal-body">
		<div class="row">
			<div class="col-sm-6 gallery-before">
				<h4>Pre</h4>
				<img src="img/gallery/9_before.jpg" class="img-responsive">
			</div>
			<div class="col-sm-6 gallery-after">
				<h4>Posle</h4>
				<img src="img/gallery/9_after.jpg" class="img-responsive">
			</div>
		</div>		
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal">Zatvori</button>
		</div>
	</div>
	</div>
</div>
<div id="gallery_10" class="modal fade" role="dialog">
	<div class="modal-dialog modal-lg modal-gallery-v">
	<!-- Modal content-->
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">&times;</button>
		<h4 class="modal-title">Unutrašnjost automobila</h4>
		</div>
		<div class="modal-body">
		<div class="row">
			<div class="col-sm-6 gallery-before">
				<h4>Pre</h4>
				<img src="img/gallery/10_before.jpg" class="img-responsive">
			</div>
			<div class="col-sm-6 gallery-after">
				<h4>Posle</h4>
				<img src="img/gallery/10_after.jpg" class="img-responsive">
			</div>
		</div>		
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal">Zatvori</button>
		</div>
	</div>
	</div>
</div>
<div id="gallery_11" class="modal fade" role="dialog">
	<div class="modal-dialog modal-lg modal-gallery-v">
	<!-- Modal content-->
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">&times;</button>
		<h4 class="modal-title">Dubinsko pranje nameštaja</h4>
		</div>
		<div class="modal-body">
		<div class="row">
			<div class="col-sm-6 gallery-before">
				<h4>Pre</h4>
				<img src="img/gallery/11_before.jpg" class="img-responsive">
			</div>
			<div class="col-sm-6 gallery-after">
				<h4>Posle</h4>
				<img src="img/gallery/11_after.jpg" class="img-responsive">
			</div>
		</div>		
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal">Zatvori</button>
		</div>
	</div>
	</div>
</div>
<div id="gallery_12" class="modal fade" role="dialog">
	<div class="modal-dialog modal-lg modal-gallery-v">
	<!-- Modal content-->
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">&times;</button>
		<h4 class="modal-title">Dubinsko pranje nameštaja</h4>
		</div>
		<div class="modal-body">
		<div class="row">
			<div class="col-sm-6 gallery-before">
				<h4>Pre</h4>
				<img src="img/gallery/12_before.jpg" class="img-responsive">
			</div>
			<div class="col-sm-6 gallery-after">
				<h4>Posle</h4>
				<img src="img/gallery/12_after.jpg" class="img-responsive">
			</div>
		</div>		
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal">Zatvori</button>
		</div>
	</div>
	</div>
</div>
<div id="gallery_13" class="modal fade" role="dialog">
	<div class="modal-dialog modal-lg modal-gallery-v">
	<!-- Modal content-->
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">&times;</button>
		<h4 class="modal-title">Dubinsko pranje nameštaja</h4>
		</div>
		<div class="modal-body">
		<div class="row">
			<div class="col-sm-6 gallery-before">
				<h4>Pre</h4>
				<img src="img/gallery/13_before.jpg" class="img-responsive">
			</div>
			<div class="col-sm-6 gallery-after">
				<h4>Posle</h4>
				<img src="img/gallery/13_after.jpg" class="img-responsive">
			</div>
		</div>		
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal">Zatvori</button>
		</div>
	</div>
	</div>
</div>
<div id="gallery_14" class="modal fade" role="dialog">
	<div class="modal-dialog modal-lg modal-gallery-v">
	<!-- Modal content-->
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">&times;</button>
		<h4 class="modal-title">Unutrašnjost automobila</h4>
		</div>
		<div class="modal-body">
		<div class="row">
			<div class="col-sm-6 gallery-before">
				<h4>Pre</h4>
				<img src="img/gallery/14_before.jpg" class="img-responsive">
			</div>
			<div class="col-sm-6 gallery-after">
				<h4>Posle</h4>
				<img src="img/gallery/14_after.jpg" class="img-responsive">
			</div>
		</div>		
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal">Zatvori</button>
		</div>
	</div>
	</div>
</div>
<div id="gallery_15" class="modal fade" role="dialog">
	<div class="modal-dialog modal-lg modal-gallery-v">
	<!-- Modal content-->
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">&times;</button>
		<h4 class="modal-title">Dubinsko pranje nameštaja</h4>
		</div>
		<div class="modal-body">
		<div class="row">
			<div class="col-sm-6 gallery-before">
				<h4>Pre</h4>
				<img src="img/gallery/15_before.jpg" class="img-responsive">
			</div>
			<div class="col-sm-6 gallery-after">
				<h4>Posle</h4>
				<img src="img/gallery/15_after.jpg" class="img-responsive">
			</div>
		</div>		
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal">Zatvori</button>
		</div>
	</div>
	</div>
</div>
<div id="gallery_16" class="modal fade" role="dialog">
	<div class="modal-dialog modal-lg modal-gallery-v">
	<!-- Modal content-->
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">&times;</button>
		<h4 class="modal-title">Dubinsko pranje nameštaja</h4>
		</div>
		<div class="modal-body">
		<div class="row">
			<div class="col-sm-6 gallery-before">
				<h4>Pre</h4>
				<img src="img/gallery/16_before.jpg" class="img-responsive">
			</div>
			<div class="col-sm-6 gallery-after">
				<h4>Posle</h4>
				<img src="img/gallery/16_after.jpg" class="img-responsive">
			</div>
		</div>		
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal">Zatvori</button>
		</div>
	</div>
	</div>
</div>
<div id="gallery_17" class="modal fade" role="dialog">
	<div class="modal-dialog modal-lg modal-gallery-v">
	<!-- Modal content-->
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">&times;</button>
		<h4 class="modal-title">Dubinsko pranje nameštaja</h4>
		</div>
		<div class="modal-body">
		<div class="row">
			<div class="col-sm-6 gallery-before">
				<h4>Pre</h4>
				<img src="img/gallery/17_before.jpg" class="img-responsive">
			</div>
			<div class="col-sm-6 gallery-after">
				<h4>Posle</h4>
				<img src="img/gallery/17_after.jpg" class="img-responsive">
			</div>
		</div>		
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal">Zatvori</button>
		</div>
	</div>
	</div>
</div>
<div id="gallery_18" class="modal fade" role="dialog">
	<div class="modal-dialog modal-lg modal-gallery-v">
	<!-- Modal content-->
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">&times;</button>
		<h4 class="modal-title">Unutrašnjost automobila</h4>
		</div>
		<div class="modal-body">
		<div class="row">
			<div class="col-sm-6 gallery-before">
				<h4>Pre</h4>
				<img src="img/gallery/18_before.jpg" class="img-responsive">
			</div>
			<div class="col-sm-6 gallery-after">
				<h4>Posle</h4>
				<img src="img/gallery/18_after.jpg" class="img-responsive">
			</div>
		</div>		
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal">Zatvori</button>
		</div>
	</div>
	</div>
</div>
<div id="gallery_19" class="modal fade" role="dialog">
	<div class="modal-dialog modal-lg modal-gallery-v">
	<!-- Modal content-->
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">&times;</button>
		<h4 class="modal-title">Unutrašnjost automobila</h4>
		</div>
		<div class="modal-body">
		<div class="row">
			<div class="col-sm-6 gallery-before">
				<h4>Pre</h4>
				<img src="img/gallery/19_before.jpg" class="img-responsive">
			</div>
			<div class="col-sm-6 gallery-after">
				<h4>Posle</h4>
				<img src="img/gallery/19_after.jpg" class="img-responsive">
			</div>
		</div>		
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal">Zatvori</button>
		</div>
	</div>
	</div>
</div>
<div id="gallery_20" class="modal fade" role="dialog">
	<div class="modal-dialog modal-lg modal-gallery-v">
	<!-- Modal content-->
	<div class="modal-content">
		<div class="modal-header">
			<button type="button" class="close" data-dismiss="modal">&times;</button>
		<h4 class="modal-title">Unutrašnjost automobila</h4>
		</div>
		<div class="modal-body">
		<div class="row">
			<div class="col-sm-6 gallery-before">
				<h4>Pre</h4>
				<img src="img/gallery/20_before.jpg" class="img-responsive">
			</div>
			<div class="col-sm-6 gallery-after">
				<h4>Posle</h4>
				<img src="img/gallery/20_after.jpg" class="img-responsive">
			</div>
		</div>		
		</div>
		<div class="modal-footer">
			<button type="button" class="btn btn-default" data-dismiss="modal">Zatvori</button>
		</div>
	</div>
	</div>
</div>