<div class="container-fluid">
<div class="row">
  <div class="col-sm-7">
    <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="3000">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
        <li data-target="#myCarousel" data-slide-to="4"></li>
        <li data-target="#myCarousel" data-slide-to="5"></li>
      </ol>
      <!-- Wrapper for slides -->
      <div class="carousel-inner" role="listbox">
        <div class="item active">
          <img src="img/slider/alt5c.jpg" alt="Image">
          <div class="carousel-caption">
            <h3>Dubinsko pranje nameštaja</h3>
            <p>Uklanjanje svih vrsta fleka</p>
          </div>      
        </div>        
        <div class="item">
          <img src="img/slider/alt11c.jpg" alt="Image">
          <div class="carousel-caption">
            <h3>Čišćenje unutrašnjosti automobila</h3>
            <p>Uklanjanje dubinskih fleka</p>
          </div>      
        </div>
        <div class="item">
          <img src="img/slider/alt9c.jpg" alt="Image">
          <div class="carousel-caption">
            <h3>Čišćenje i pranje tepiha i staza</h3>
            <p>Vrlo kvalitetno pranje svih vrsta tepiha</p>
          </div>      
        </div>
        <div class="item">
          <img src="img/slider/alt4c.jpg" alt="Image">
          <div class="carousel-caption">
            <h3>Čišćenje i pranje nameštaja</h3>
            <p>Čišćenje sofa, kreveta, stolica, fotelja..</p>
          </div>      
        </div>
        <div class="item">
          <img src="img/slider/alt2c.jpg" alt="Image">
          <div class="carousel-caption">
            <h3>Besprekorna unutrašnjost vašeg automobila</h3>
            <p>Dubinsko čiscenje sedišta i tapacirunga</p>
          </div>      
        </div>
        <div class="item">
          <img src="img/slider/alt10c.jpg" alt="Image">
          <div class="carousel-caption">
            <h3>Dubinsko čišćenje tepiha</h3>
            <p>Antibakterijsko čišćenje</p>
          </div>      
        </div>
      </div>
      <!-- Left and right controls -->
      <span class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
<!--  <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span> -->
        <span class="sr-only">Previous</span>
      </span>
      <span class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
<!-- <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span> -->
        <span class="sr-only">Next</span>
      </span>
    </div>
    <script src="js/carousel.js"></script>
  </div>
  <div class="col-sm-5">
    <div>
      <p class="telefon_home"><b>Za pitanja, informacije i zakazivanje pozovite: </b></p>
       <p class="telefon_home"><i class="fa fa-mobile" aria-hidden="true"></i> &nbsp; 060 / 380 61 72</p>
       <p class="telefon_home"><i class="fa fa-mobile" aria-hidden="true"></i> &nbsp; 064 / 021 72 42</p>
       <p style="text-align: center;">
         Dolazimo na vašu adresu u najkraćem mogućem roku!(Radimo na teritoriji Beograda)
       </p>
    </div>
  <script type="text/javascript" src="js/open.js"></script>
    <div class="panel panel-default">
      <div class="panel-heading" id="cenovnik">
      <i class="fa fa-angle-double-down" aria-hidden="true" style="float: left;font-size: 35px;"></i>
      <span id="cenovnik_txt">Cenovnik</span>
      <i class="fa fa-angle-double-down" aria-hidden="true" style="float: right;font-size: 35px;"></i>
      </div>
      <div class="panel-body" id="cenovnik_div">
      <ul>
        <li class="first_li">NAMEŠTAJ</li>
        <li>
          <ul>
            <li>Trosed  <span class="cena">1000 din.</span></li>
            <li>Dvosed  <span class="cena">800 din.</span></li>
            <li>Ugaona garnitura  <span class="cena">od 1200din.</span></li>
            <li>Fotelja  <span class="cena">450 din</span></li>
            <li>Tabure  <span class="cena">250 din</span></li>
            <li>Stolice  <span class="cena">kom. 150 din</span></li>
            <li>Tepisi, staze  <span class="cena">1m<sup>2</sup> – 100 din.</span></li>
          </ul>
        </li>
        <li class="first_li">KREVETI (DUŠECI) </li>
        <li>
          <ul>
            <li>Bračni dušek  <span class="cena">1000 din.</span></li>
            <li>- obostrano  <span class="cena">1300 din.</span></li>
            <li>Singl dušek  <span class="cena">650din.</span></li>
            <li>- obostrano  <span class="cena">950 din</span></li>
          </ul>
        </li>
        <li class="first_li">AUTOMOBILI</li>
        <li>
          <ul>
            <li>Mala vozila<span class="cena">1850 din</span></li>
            <li>Srednja vozila<span class="cena">2300 din.</span></li>
            <li>Limuzine<span class="cena">3000 din (karavan +400)</span></li>
            <li>Mini van, džip, SUV<span class="cena">4300 din.</span></li>
            <li>Kombi vozila<span class="cena">5500 din.</span></li>
            <li>Kamionske kabine<span class="cena">3700 din.</span></li>
            <li>Autobusi<span class="cena">150 din.(sedište)</span></li>
          </ul>
        </li>
      </ul>
      </div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading" id="akcija">
      <i class="fa fa-angle-double-down" aria-hidden="true" style="float: left;font-size: 35px;"></i>
      <span id="akcija_txt">Akcije i popusti</span>
      <i class="fa fa-angle-double-down" aria-hidden="true" style="float: right;font-size: 35px;"></i>
      </div>
      <div class="panel-body" id="akcija_div">
      <ul>
        <li class="first_li">Akcija u oktobru i novembru</li>
        <li>
          <ul>
            <li><strong>10% popust</strong> - za iznose preko 4000 din</li>
            <li style="font-size: 1.2em; color: #666;"><strong>--- Posebni popusti za firme ---</strong></li>
          </ul>
        </li>
        <li class="first_li">SPECIJALAN POPUST</li>
        <li>
          <ul>
            <li><strong>10% popust za trudnice</strong></li>
            <li>DEČIJA AUTO SEDIŠTA - <span style="color: red;">GRATIS !!</span></li>
          </ul>
        </li>
      </ul>
      </div>
    </div>
  </div>
</div>
<hr>
</div>
<div class="container-fluid text-center" id="promocija_container">
  <h2 style="font-family: 'Comfortaa', cursive;">AKCIJA!</h2>
  <div class="row">
    <div class="col-sm-4" id="promocija_desc">
      {{ naslov[0].naslov }}
    </div>
    <div class="col-sm-4 slideanim" id="promocija_img">
      <img id="popust_img" src="img/akcija.png" class="img-responsive about_img"  alt="Akcija">
    </div>
    <div class="col-sm-4" id="promocija">
      <p ng-repeat="akcija in akcije">
        {{akcija.sadrzaj}} - <b>{{akcija.cena}} din.</b>
      </p>
    </div>
    

  </div>
</div>
<div class="container-fluid text-center" style="border-top: 1px solid rgba(0,0,0,0.1);">
  <h2>O nama</h2>
    <div class="col-sm-2 slideanim">
      <img src="img/karcher_puzzi.jpg" class="img-responsive about_img" alt="Karcher puzzi">
    </div>
    <div  class="col-sm-8" id="about">
      <p>Dubinsko čišćenje vršimo najnovijim Karcher i Lavor mašinama, pri tom koristeći kvalitetan antibakterijski prašak, kojim uz pomoć veoma moćnih ekstrakcija prodiremo i do 7cm ispod površine svih vrsta dušeka, tepiha, tapacirunga i mebla ( osim kože ) i na taj način temeljno i efikasno uklanjamo grinje, tvrdokorne fleke, dlake kucnih ljubimaca i neprijatne mirise. Vreme sušenja zavisi od vrste materijala i može biti od 2 do 3 sata. Garantujemo za kvalitet naših usluga i primamo sve vaše eventualne reklamacije.</p>
      <br>
      <p id="promo">Dolazimo na vašu adresu u najkraćem mogućem roku!</p>
    </div>  
    <div class="col-sm-2 slideanim">
     <img id="lavor" src="img/lavor.png" class="img-responsive about_img" alt="Lavor constalation">
    </div>
    
  </div>
  <hr>
</div>